@model IEnumerable<UCVstudents.Models.Document>

@{
    ViewData["Title"] = "Documents";
}

<h1>Documents</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create new document</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DocumentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>