@model IEnumerable<UCVstudents.Models.Student>

@{
    ViewData["Title"] = "Students list";
}

<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<h1>Students List</h1>
<table class="table" id="studentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subgroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalGrade)
            </th>
            <th>
                Specialization
            </th>
            <th>
                Year of study
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subgroup)
                </td>
                @if (item.Scholarship == true)
                {
                    <td>
                        Yes
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.FinalGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfStudy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td> 
            </tr>
        }
    </tbody>
</table>