@model IEnumerable<UCVstudents.Models.Subject>

@{
    ViewData["Title"] = "Subjects list";
}


<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<h1>Subjects list</h1>
<hr />
<table class="table" id="subjectsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrCredits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfStudy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty)
                </td>
            </tr>
        }
    </tbody>
</table>