@model IEnumerable<UCVstudents.Models.Grade>
<h2>All Grades</h2>
<p><a href="/Grade/Create">Create New</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Student</th><th>Subject</th><th>Value</th><th>Date</th><th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var grade in Model)
    {
        <tr>
            <td>@grade.Student?.FirstName @grade.Student?.LastName</td>
            <td>@grade.Subject?.Name</td>
            <td>@grade.Value</td>
            <td>@grade.DateReceived.ToShortDateString()</td>
            <td>
                <a href="/Grade/Edit/@grade.GradeId">Edit</a> |
                <a href="/Grade/Details/@grade.GradeId">Details</a> |
                <a href="/Grade/Delete/@grade.GradeId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>